*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  background-color: #dbdede54;
}
#header{
  background-color: rgb(237, 241, 241);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0,0,0,0.10);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}
.hero1{
  background-image: url(https://png.pngtree.com/png-clipart/20190618/original/pngtree-trend-men-fashion-young-people-influx-png-image_3923532.jpg);
  height:100vh;
  width: 100%;
  background-size: contain;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.shop{
  background-color: transparent ;
  font-weight: bolder;
  border-radius: 10px;
}
#brand .row img{
  height: 10rem;
  width: 16rem;
  
}
#new .one img{
 width: 35em;
 height: 30em;
 display: flex;
  justify-content: center;
}
#new .one .details{
  display: flex;
  justify-content: center;
}
.payment{
  width: 80px;
  height: 25px;
}
footer{
  background-color: #222222; 
  align-items: center;
}
footer h5{
  color: #D8D8D8;
  font-weight: 700;
  font-size: 1.2rem;
}
footer li{
  padding-bottom: 4px;
}
footer li a{
  font-size: 0.8rem;
  color: #999;
  text-decoration: none;
}
footer li a:hover{
  color: aliceblue;
}
footer p{
  color: #999;
  font-size: 0.8rem;
}
footer h6{
  color: rgb(225, 225, 224);
  font-size: 0.9rem;
}    
footer .copyright a{
  color: #000;
  width: 38px;
  height: 38px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease; 
  margin: 0 5px;

}
footer .copyright a:hover{
  color: #fff;
  background-color: #fb774b;
}
#featured img{
  width: 100%;
  height: 15em;
}
.content-input-field input {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  letter-spacing: 1px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background: rgba(100, 90, 87, 0.06);
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 0px;
}
.content-input-field button.btn {
  background: #063601;
  border: none;
  color: #fff;
  padding: 15px 15px;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 0px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}
.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}
.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}
